/**
 * ************************************
 * FRONT-END
 * ************************************
 */
/** FONTS EXTERNO */
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
/** FONTS INTERNO */
@font-face {
  font-family: 'futura_normal';
  src: url("../../assets/fonts/FUTURANORMAL.woff2") format("woff2"), url("../../assets/fonts/FUTURANORMAL.woff") format("woff"), url("../../assets/fonts/FUTURANORMAL.ttf") format("truetype"); }
/** MIXINS */
/** GLOBALES */
main {
  position: relative;
  width: 100%;
  clear: both;
  float: left; }

*:focus {
  outline: none; }

/** NAVIGATION */
nav {
  background-color: transparent !important;
  border-color: transparent !important;
  z-index: 9999; }
  nav .navbar-header .navbar-brand {
    padding-left: 100px; }
  nav #navbar ul {
    margin-top: 20px; }
  nav #navbar li:before {
    content: "/";
    position: absolute;
    left: 0;
    top: calc(50% - 18px);
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: 300; }
  nav #navbar li:first-child:before {
    content: ""; }
  nav #navbar a {
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: 300; }
  nav #navbar .scrollMenu {
    background: #929292; }

/** SLIDER */
#slider {
  padding: 0;
  max-height: 591px;
  height: 100%;
  background: #fff;
  z-index: 9; }
  #slider #masterslider .shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 145px;
    background: url("../../assets/img/slider/slider-bg.png") repeat-x center bottom; }
  #slider #masterslider .ms-slide {
    color: #fff;
    text-transform: uppercase;
    text-align: center; }
    #slider #masterslider .ms-slide .hps-title1 {
      width: 100%;
      margin-bottom: 0;
      font-size: 2.2vw !important;
      font-family: "Oswald", sans-serif;
      font-size: 37px;
      font-weight: 400 !important; }
    #slider #masterslider .ms-slide .hps-title2 {
      width: 100%;
      margin-top: 10px;
      font-size: 1.85vw !important;
      font-family: "Oswald", sans-serif;
      font-size: 31px;
      font-weight: 400 !important; }

/**
****** NOSOTROS ******
*/
#nosotros {
  padding-top: 200px; }
  #nosotros h2 {
    color: #231f20;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    font-weight: 300 !important; }
  #nosotros h4 {
    color: #6f6d6d;
    margin: 60px 0;
    text-transform: uppercase;
    line-height: 28px;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400 !important; }
  #nosotros p {
    color: #231f20;
    line-height: 28px;
    margin-bottom: 0;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: 400 !important; }

/**
****** SERVICIOS ******
*/
#servicios {
  padding: 200px 0 20px;
  background: #c2b807; }
  #servicios h2 {
    color: #231f20;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-family: "Oswald", sans-serif;
    font-size: 44px;
    font-weight: 300 !important; }
  #servicios .item {
    margin-bottom: 30px; }
    #servicios .item h3 {
      color: #231f20;
      text-transform: uppercase;
      margin-top: 10px;
      font-family: "Oswald", sans-serif;
      font-size: 39px;
      font-weight: 300 !important; }

/**
****** PROYECTOS ******
*/
#proyectos {
  min-height: 766px;
  background: url("../img/proyectos.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 220px 0 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #proyectos #partial-view-1 #masterslider1 .ms-container {
    overflow: visible !important; }
  #proyectos #partial-view-1 .ms-slide .ms-info {
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 30px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  #proyectos #partial-view-1 .ms-slide h3, #proyectos #partial-view-1 .ms-slide h4, #proyectos #partial-view-1 .ms-slide p {
    text-transform: uppercase;
    margin: 5px;
    color: #222;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 300 !important; }
  #proyectos #partial-view-1 .ms-sl-selected .ms-info {
    opacity: 100;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

/** FOOTER */
/**
****** NOSOTROS ******
*/
/**
****** MODAL ******
*/
.modal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.modal-content {
  border: 6px solid #249119;
  padding: 100px 80px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  .modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px; }
    .modal-content .close img {
      width: 32px; }
  .modal-content h4 {
    color: #249119;
    font-family: "futura_normal", sans-serif;
    font-size: 72px;
    font-weight: 700; }
  .modal-content p {
    color: #333;
    margin-bottom: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 300; }
  .modal-content a {
    color: #249119;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 700; }
    .modal-content a img {
      width: 32px;
      display: inline-block; }
  .modal-content .btn {
    color: #999;
    width: 190px;
    height: 46px;
    border: 1px solid #ccc;
    background: #dedede;
    text-transform: uppercase;
    line-height: 32px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 600; }

/*# sourceMappingURL=vf.css.map */

/*# sourceMappingURL=vf.css.map */
